/*
==================================================
            CSS FOR ORDER SUMMARY MODAL
==================================================
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/*
==================================================
            CSS FOR ORDER FORM
==================================================
*/
.textfield-item-quantity{
    width: 30px;
}
.order-form-field{
    margin-right: 30px;
}
.form-label{
    float: left;
    width: 200px;
}
.form-element > input{
    border: thin solid black ;
    border-radius: 3px;
}
.form-element{
    margin: 20px auto;
}
.form-fieldset > legend{
    font-family: "Roboto" !important;
    font-weight: bold;
}
.form-fieldset{
    margin: 25px auto;
    border-style: dashed;
}
form{
    margin: 0px auto;
    width:75%;
}

/*
==================================================
                GENERAL STYLING
==================================================
*/
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3rem;
    text-align: center; 
}
.top{
	position: relative;
	padding: 5px 5px 5px 5px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	background-color: transparent;
	border-radius: 6px;
	height: 50px;
    width: max-content;
    margin:auto;
}
a {
	width: auto;
    background-color: transparent;
	display: inline-block;
	text-align: center;
	font-size: 30px;
    color: white;
    font-family: "Iceland";
    padding: 8px 16px;
    text-decoration: none;
	text-align: center;
	margin-right:15px;
}

a:hover {
    background-color: #f1f1f1;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
}

a:active {
	transform: translateY(4px);
}

.active{
	background-color: #f1f1f1;
	color:black;
}

#btnSubmitForm{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: none;
    height: 30px;
    width: 125px;
}
#btnSubmitForm:enabled{
    background-color:greenyellow;
}
#btnSubmitForm :disabled{
    background-color: grey;
}
textarea, select, select > option, input{
    color: black !important;
}
body{
	background-image: url("../resources/graphics/main-bg.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Iceland', cursive;
}
*{
    font-family: "Open Sans";
    color:white;
}